html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

#watch{
  
  width: 50px;

}

#watchTitle {
  color: red;
  float: left;
  font-size: 2em;
  margin-left: 5em;
  margin-right: 2em;
}

#time {
   font-style: bold;
   margin-left: 3em;
   font-size: 2em;
}

